.header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
  padding-top: 20px;
}
.header-sub {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-left: 3px;
}
.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  height: 75px;
  padding-right: 10px;
  margin-left: -9px;
}
@media (max-width: 640px) {
  .logo {
    height: 65px;
  }

  .header {
    font-size: 21px;
  }
  .header-sub {
    font-size: 11px;
  }
}
