.x-axis-container {
  width: 100%;
  display: flex;
  height: 100%;
  padding-top: 5px;
}

.x-axis {
  margin: 0 auto;
}

.x-axis-labels {
  fill: #7a92a4;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.y-axis {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.y-labels {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  color: #7a92a4;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .y-labels {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .y-labels {
    font-size: 6px !important;
  }
}

@media only screen and (max-width: 485px) {
  .x-axis-labels {
    font-size: 10px !important;
    letter-spacing: 1px;
  }
  .graph-filler {
    padding-top: 0px !important;
  }
  .x-axis-container {
    padding-top: 0px !important;
  }
}

