body {
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

.page-background {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #46494E), color-stop(36%, #46494E), color-stop(100%, #008080)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #46494E 35%, #46494E 36%, #008080 100%); /* safari5.1+,chrome10+ */
  background: -moz-linear-gradient(270deg, #46494E 35%, #46494E 36%, #008080 100%); /* ff3.6+ */
  padding: 30px;
}

.header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FFFFFF;
  padding: 50px 0 70px 0;
  line-height: 1.6;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: #46494E;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 12px;
}

.footer a:hover {
   color: #355c73;
   font-weight: bold;
}

.footer-header {
  font-size: 20px;
  color: #46494E;
  text-transform: uppercase;
  padding-right: 40px;
  margin-right: 15px;
}

.footer-title {
  color: #46494E;
  font-size: 12px;
  text-transform: uppercase;
}

.resources-container {
  display: flex;
  padding-top: 50px;
}

.resources-section {
   width: 100%;
   border-top: 2px solid #ffffff;
   border-bottom: 2px solid #ffffff;
   margin-right: 15px;
   margin-bottom: 40px;
   font-size: 12px;
   font-weight: 200;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   color: #FFFFFF;
 }

.resources-section:last-child {
  margin-right: 0;
}

.resources-section a {
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.resources-container ul {
  padding: 0;
}

.resources-container li {
  list-style-type: none;
  margin: 15px 0;
}

.resources-title {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding-bottom: 10px;
  border-bottom: 1px solid #FFFFFF;
}

.time-choice-header {
  position: relative;
  display: flex;
  z-index: 1;
  margin-left: auto;
  padding-bottom: 5px;
}

.time-choice-header ul {
  margin: 5px;
  padding: 0;
}

.time-choice-header li {
  display: inline;
  font-size: 13px;
  list-style-type: none;
  text-transform: uppercase;
  margin-left: 20px;
}

.time-choice-header a {
  text-decoration: none;
  color: #D0C0D5;
  padding-bottom: 11px;
}

.time-choice-header a:hover,
.time-choice-header a:visited,
.time-choice-header a:target {
  color: #355c73;
  font-weight: bold;
  border-bottom: 1px solid #1BA69C;
}

.App {
  background-color: #FFFFFF;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
}

.flex-grid {
  display: flex;
  color: #365C73;
  padding: 30px 0;
  border-bottom: 2px dotted #DAE1E9;
  padding-bottom: 20px;
}

.flex-grid-header {
  display: flex;
  color: #365C73;
  border-bottom: 1px solid #DAE1E9;
}

.info-col {
  flex: 1 1 auto;
  flex-flow: row wrap;
  align-items: center;
  height: 140px;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #DAE1E9;
  border-right: 1px solid #DAE1E9;
}

.info-col:first-child,
.info-col:last-child {
  border: none;
}

.info-wrapper {
  margin: 0 auto;
}

.stat-info {
  font-size: 48px;
  font-weight: 400;
}

@media (max-width: 940px) {
  .stat-info {
    font-size: 40px;
  }
}

@media (max-width: 850px) {
  .stat-info {
    font-size: 32px;
  }
}

@media (max-width: 765px) {
  .stat-info {
    font-size: 26px;
  }
}

@media (max-width: 705px) {
  .stat-info {
    font-size: 20px;
  }
}

@media (max-width: 442px) {
  .stat-info {
    font-size: 14px;
  }

  .sub-header {
    font-size: 10px;
  }
}

.sub-header {
  color: #7A92A4;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  padding-top: 10px;
}

.graph-container {
  margin: 0 auto;
  width: 80%;
}
