.time-choice-header{
  margin-left: auto;
  margin-right: 5px;
}

.time-choice-header ul{
  margin: 5px;
  padding: 0;
}

.time-choice-header ul li{
  list-style: none;
  display: inline;
  margin-left: 5px;
}

.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex-grid {
  display: flex;
}

.info-col {
  flex: 1;
  border: 1px dotted grey;
  height: 150px;
}

.info-wrapper {
  margin: 0 auto;
}

.stat-info {
  font-size: 46px;
}

.sub-header {
  font-size: 14px;
  color: grey;
}
