@font-face {
  font-family: 'proxima-nova-bold';
  src: url('/Proxima-Nova/proximanova-bold-webfont.woff2') format('woff2'),
    url('/Proxima-Nova/proximanova-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-light';
  src: url('/Proxima-Nova/proximanova-light-webfont.woff2') format('woff2'),
    url('/Proxima-Nova/proximanova-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('/Proxima-Nova/proximanova-regular-webfont.woff2') format('woff2'),
    url('/Proxima-Nova/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  margin: 0;
}
.page-background {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(35%, #46494e),
    color-stop(36%, #46494e),
    color-stop(100%, #2b4d4c)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    270deg,
    #46494e 35%,
    #46494e 36%,
    #2b4d4c 100%
  ); /* safari5.1+,chrome10+ */
  background: -moz-linear-gradient(
    270deg,
    #46494e 35%,
    #46494e 36%,
    #2b4d4c 100%
  ); /* ff3.6+ */
  padding: 30px;
}
.App {
  background-color: #ffffff;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}

.text-page {
  background-color: #ffffff;
  text-align: left;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  line-height: 2;
  color: #46494e;
}
.text-page a {
  text-decoration: none;
  color: #46494e;
  font-size: 16px;
  border-bottom: 1px solid #1ba69c;
}
.text-page a:hover {
  color: #365c73;
  font-weight: bold;
}
