@font-face {
  font-family: 'proxima-nova-bold';
  src: url('/Proxima-Nova/proximanova-bold-webfont.woff2') format('woff2'),
    url('/Proxima-Nova/proximanova-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-light';
  src: url('/Proxima-Nova/proximanova-light-webfont.woff2') format('woff2'),
    url('/Proxima-Nova/proximanova-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('/Proxima-Nova/proximanova-regular-webfont.woff2') format('woff2'),
    url('/Proxima-Nova/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  margin: 0;
}
.page-background {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(35%, #46494e),
    color-stop(36%, #46494e),
    color-stop(100%, #2b4d4c)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    270deg,
    #46494e 35%,
    #46494e 36%,
    #2b4d4c 100%
  ); /* safari5.1+,chrome10+ */
  background: -moz-linear-gradient(
    270deg,
    #46494e 35%,
    #46494e 36%,
    #2b4d4c 100%
  ); /* ff3.6+ */
  padding: 30px;
}
.App {
  background-color: #ffffff;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .svg-inline {
    height: 100px !important;
  }
  .graph-container {
    height: 150px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 900px) {
  .svg-inline {
    height: 150px !important;
  }
  .graph-container {
    height: 200px !important;
  }
}
.time-choice-header {
  text-align: right;
  z-index: 1;
  padding-bottom: 5px;
}
.time-choice-header ul {
  margin: 5px;
  padding: 0;
}
.time-choice-header li {
  display: inline;
  font-size: 13px;
  list-style-type: none;
  text-transform: uppercase;
  margin-left: 20px;
}
.selected {
  color: #365c73;
  font-weight: bold;
  border-bottom: 1px solid #1ba69c;
  padding-bottom: 11px;
}
.selected a {
  color: #365c73 !important;
}
.time-choice-header a:link {
  color: #bcc8d1;
  text-decoration: none;
  padding-bottom: 11px;
}
.time-choice-header a:hover {
  color: #365c73;
  font-weight: bold;
  border-bottom: 1px solid #1ba69c;
}
@media (max-width: 480px) {
  .time-choice-header {
    text-align: center;
  }
  .time-choice-header a:hover {
    border-bottom: none;
  }
}
.flex-grid {
  display: flex;
  color: #365c73;
  padding: 30px 0;
  border-bottom: 1px dashed #7a92a4;
  padding-bottom: 20px;
}
.menu-container {
  border-bottom: 1px solid #d0d0d5;
}
.graph-container {
  height: 380px;
  width: 100%;
}
.text-page {
  background-color: #ffffff;
  text-align: left;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  line-height: 2;
  color: #46494e;
}
.text-page a {
  text-decoration: none;
  color: #46494e;
  font-size: 16px;
  border-bottom: 1px solid #1ba69c;
}
.text-page a:hover {
  color: #365c73;
  font-weight: bold;
}

.linechart {
  padding: 0;
}
.linechart_path {
  stroke-width: 2;
  fill: none;
  stroke: #f3acb1;
}

.linechart_axis {
  stroke: #bdc3c7;
}

.linechart_point {
  fill: #fff;
  stroke-width: 2;
}

.linechart_area {
  padding: 8px;
  fill: #f3acb1;
  stroke: none;
  opacity: 0.3;
}

.linechart_label {
  fill: #365c73;
  font-weight: 400;
}

.hoverLine {
  stroke: #1ba69c;
  stroke-width: 2;
}

.popup {
  vertical-align: top;
}

.row {
  display: flex;
  justify-content: center;
}

.svg-inline {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  height: 360px;
}

.axis-labels {
  fill: #7a92a4;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.graph-filler {
  height: 20px;
  border-top: 1px dashed #7a92a4;
  padding-top: 10px;
}
